.slides {
    background: #fff;
    width: 100%;
    position: relative;
    height: 400px;
    overflow: hidden;
    border-bottom: 1px solid #c7c7c7;
	line-height: normal;
    display: none;
}

.slide {
    width: 940px;
    height: 100%;
	position: relative;
    overflow: hidden;
}

.slide .caption {
	width: 100%;
	height: 50%;
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	top: 50px;
	left: 0;
	text-align: center;
	box-sizing: border-box;
	padding: 20px 100px;
	color: #F1F1F1;
}

.slide-background {
	height: 100%;
}


/* Control Nav */

.slide-nav {
    width: 940px;
    height: 30px;
    margin-top: -31px;
    position: relative;
    z-index: 99999999;
}

.slides-next, .slides-prev {
    display: block;
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
    background-color: rgba(69, 74, 80, 0.3);
    text-align: center;
    line-height: 30px;
    color: rgba(241, 241, 241, 0.3);
    transition: color 0.2s ease, background-color 0.2s ease;
}

.slides-next:hover, .slides-prev:hover {
    text-decoration: none;
    background-color: rgba(69, 74, 80, 1);
    color: #E87E04;
}

.slides-container {
    width: 940px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.slides-next {
    right: 0;
}

.slides-prev {
    left: 0;
}

.loading-bar {
    max-width: calc( 100% - 60px );
    height: 30px;
    position: absolute;
    left: 30px;
    background-color: #E87E04;
}

/* Caption */

.caption-title {
    font-family: 'Open Sans Condensed', sans-serif;
	font-size: 56pt;
	font-weight: normal;
	height: auto;
}

.caption-subtitle {
	font-family: 'Open Sans Condensed', sans-serif;
	display: block;
	font-size: 28pt;
	font-weight: normal;
	margin-top: -25px;
	text-indent: 70px;
}

.caption-text {
	font-size: 12pt;
}

.caption a {
    font: normal 18px/22px 'Open Sans Condensed', sans-serif;
    color: #a5a5a5;
    text-transform: lowercase;
    text-decoration: none;
    border-bottom: 1px dotted #a5a5a5;
}

.caption a:hover {
    text-decoration: none;
    color: #191919;
}

@media only screen and (max-width: 995px) {
    #slides img {
        width: auto;
        height: 358px;
    }
    #slides, .slides_container {
        width: 748px;
        height: 358px;
    }
    .slide {
        width: 748px;
    }
    /* Control Nav */
    .slider-nav {
        top: 231px;
        left: 444px;
    }
    .prev {
        top: 242px;
        left: 460px;
    }
    .next {
        top: 242px;
        left: 498px;
    }
    /* Caption */
    .caption {
        top: 75px;
        right: 69px;
        width: 235px;
        height: 140px;
    }
    .caption h2 {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 15px;
    }
    .caption h2 span {
        font-size: 25px;
        line-height: 30px;
        margin-top: -4px;
    }
    .caption p {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    #slides img {
        height: 201px;
    }
    #slides, .slides_container {
        width: 420px;
        height: 201px;
    }
    .slide {
        width: 420px;
    }
    /* Control Nav */
    .slider-nav {
        top: 71px;
        left: 274px;
    }
    .prev {
        top: 82px;
        left: 290px;
    }
    .next {
        top: 82px;
        left: 328px;
    }
    /* Caption */
    .caption {
        display: none !important;
    }
}

@media only screen and (max-width: 479px) {
    #slides img {
        height: 144px;
    }
    #slides, .slides_container {
        width: 300px;
        height: 144px;
    }
    .slide {
        width: 300px;
    }
    /* Control Nav */
    .slider-nav {
        top: 11px;
        left: 194px;
    }
    .prev {
        top: 22px;
        left: 210px;
    }
    .next {
        top: 22px;
        left: 248px;
    }
}
