/*This is the responsive nav bar (on mobile view)*/

nav {
    float: right;
    height: 100%;
}

.sf-menu {
    height: 100%;
}

.sf-menu>li {
    line-height: 50px;
    position: relative;
    float: left;
    font: normal 16px/20px Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.sf-menu>li>a {
    line-height: 35px;
    display: block;
    width: 100%;
    height: 100%;
    color: #E87E04;
    box-sizing: border-box;
    padding: 0 10px;
}

.sf-menu>li>a:hover, .sf-menu>li.sfHover>a {
    text-decoration: none;
    color: #F1F1F1;
    background-color: #E87E04;
}

/***submenu***/

.sf-menu ul {
    position: absolute;
    top: -999em;
    z-index: 99;
    width: 175px;
    display: none;
    background: #5c6065;
}

.sf-menu li li {
    position: relative;
    font: normal 14px/16px Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.sf-menu li li a {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 30px;
	padding: 5px 10px;
	box-sizing: border-box;
    color: #f1f1f1;
}

.sf-menu li li>a:hover, .sf-menu li li.sfHover>a {
	background-color: #d07205;
    text-decoration: none;
}

.sf-menu li:hover ul, .sf-menu li.sfHover ul {
    top: 100%;
}

ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
    top: -999em;
}


/***subsubmenu***/

.sf-menu ul ul {
    padding-top: 20px;
    width: 130px;
	background-color: #454a50;
}

.sf-menu ul ul li {
    text-transform: none;
}

/* Design for a width of 480px*/

@media only screen and (max-width: 767px) {
    nav {
        float: none;
        background: #fff;
        padding: 0 0 0 0;
    }
    .sf-menu>li {
        float: none;
        margin-right: 0px;
        margin-bottom: 0em;
    }
    .sf-menu>li>a {
        display: block;
        background: #454a50;
        color: #E87E04;
        text-align: center;
    }
    .sf-menu>li.sfHover>a, .sf-menu>li>a:hover, .sf-menu>li.current>a {
        background-color: #E87E04;
    }
    /***submenu***/
    .sf-menu ul {
        position: static;
        width: 100%;
        text-align: center;
    }
    .sf-menu>li.sfHover>a .arrow, .sf-menu>li>a:hover .arrow, .sf-menu>li.current>a .arrow {
        background-position: center -15px;
    }
    /***subsubmenu***/
    .sf-menu ul ul {
        width: 100%;
    }
    .sf-menu li li.sfHover>a .arrow, .sf-menu li li>a:hover .arrow, .sf-menu li li.current>a .arrow {
        background-position: center -10px;
    }
}
