<head>
    <link rel="stylesheet" href="summary-styles.css" type="text/css"/>
</head>
<body>
    <div class="title">
        <h1 class="main-title">Melbourne Consulting Suites</h1>
    </div>
    <div class="content">
        <span class="field-label">TO:</span><span>{{userFullName}}</span><br/>
        <span class="field-label">PERIOD:</span><span>{{startDate}} - {{endDate}}</span><br />
        <span class="field-label">DUE:</span><span>{{dueDate}}</span>
        <p class="foreword">Please find below a summary of bookings made between {{startDate}} and {{endDate}}. If you have any queries regarding the below, please use the contact details at the end of this document.</p>

    </div>
