@page {
    margin: 36pt;
    font-family: "Calibri", sans-serif;
    font-size: 10pt;
}

.title {
    text-align: right;
}

.main-title {
    font-size: 16pt;
}

.field-label {
    font-weight: bold;
    margin-right: 3px;
}

th {
    text-align: left;
}

.new-date td {
    border-top: 1px solid #989898;
}

thead {
    border-bottom: 2px solid #000;
}

.summary-table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
