    <div class="margin-fix">
        <table class="footer-table" align="right">
            <tr>
                <td><div>Sub Total:</div></td>
                <td><div>{{subTotal}}</div></td>
            </tr>
            <tr>
                <td><div>GST:</div></td>
                <td><div>{{gst}}</div></td>
            </tr>
            <tr>
                <td><div>Paid:</div></td>
                <td><div>{{amountPaid}}</div></td>
            </tr>
            <tr>
                <td><div>Owing:</div></td>
                <td><div>{{owing}}</div></td>
            </tr>
        </table>
    </div><br/>
    <p class="thanks">
        Thank you very much for choosing Melbourne Consulting Suites. To view your summaries, please log in at
        <span class="link">http://www.melbourneconsultingsuites.com.au/bookings/</span>. Payment can be made directly to Marika
        Tashevska; feel free to contact Marika on 0419 368 746 to organise your payment. Again, Melbourne Consulting Suites would like to thank
        you for your business.
    </p>
</body>
</html>
