<head>
    <link rel="stylesheet" href="summary-styles.css" type="text/css"/>
</head>
<body>
    <div class="title-nouser">
        <h1 class="main-title">Melbourne Consulting Suites</h1>
    </div>
    <div class="content">
        <div class="column">
            <span class="field-label">PERIOD:</span><span>{{startDate}} - {{endDate}}</span><br />
        </div>
        <p class="foreword">Please find below a summary of bookings made between {{startDate}} and {{endDate}}. If you have any queries regarding the below, please use the contact details at the end of this document.</p>
    </div>
