.calendar-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 1px 1px 3px #a3a3a3;
}

.calendar-header {
    height: 30px;
    background-color: #5bbaff;
    position: relative;
}

.calendar-header th {
    position: relative;
}

.calendar-filters {
    height: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 60px;
    margin: auto;
}

.calendar-filter {
    height: 24px;
    margin-left: 5px;
    border: none;
    background-color: #fff;
}

.calendar-prev-arrow {
    float: left;
}

.calendar-next-arrow {
    float: right;
}

.calendar-month {
    display: inline-block;
    width: 130px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.calendar-day-gutter {
    height: 20px;
    font-weight: normal;
    color: #fff;
    background-color: #509ed7;
    padding: 0;
}

.calendar-day-gutter > th {
    padding: 0;
    height: 100%;
    width: 100%;
}

.calendar-day {
    float: left;
    width: calc(100% / 7);
    font-weight: normal;
    font-size: 10pt;
    text-align: center;
    height: 20px;
    line-height: 20px;
}

.calendar-day-cell {
    height: 60px;
    line-height: 60px;
    background-color: rgb(199, 231, 255);
    cursor: pointer;
    text-align: center;
    font-family: sans-serif;
}

.report-download > img {
    width: 50px;
}

.calendar-day-cell:hover {
    background-color: rgba(199, 231, 255, 0.5);
}

.calendar-day-cell:nth-child(odd) {
    cursor: pointer;
    background-color: rgb(221, 240, 254);
}

.calendar-day-cell:nth-child(odd):hover {
    background-color: rgba(221, 240, 254, 0.5);
}

.selected {
    background-color: #5bbaff !important;
}

.calendar-prev-arrow, .calendar-next-arrow {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    user-select: none;
}

.calendar-prev-arrow:hover, .calendar-next-arrow:hover {
    background-color: #509ed7;
    color: #fff;
    user-select: none;
}
