/**
 * Colours
 *  #ffa500   Light orange (h1, h2)
 *  #ff6400   Dark orange (title, border)
 *  #0080c0   Dark blue (title)
 *  #006699   Links
 *  #15A300   Links-hover, column titles
 *  #ffffaa   Highlight background
 */


/**
 * Material Design Dashboard
 * Author: Kieran Hickey & Aaron Marshall
 * Date:15/10/2016
 */

.dashboard-tile {
    display: inline-block;
    list-style-type: none;
    height: 130px;
    width: 130px;
    background-color: #4183D7;
    margin: 5px;
    text-align: center;
    position: relative;
    box-shadow: 1px 1px 3px #707070;
    transition: background-color 0.5s ease;
}

.dashboard-tile:hover {
    background-color: #FFA500;
}

.tile-text {
    display: inline;
    color: #fff;
}

.tile-link {
    display: block;
    width: 100%;
    height: 100%;
}

.tile-icon {
    width: 70%;
    height: 70%;
}

.dashboard-tile-inner {
    width: 70%;
    height: 70%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}