.summary-empty {
    text-align: center;
}

.summary-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
    box-shadow: 1px 1px 3px #a3a3a3;
    table-layout: fixed;
}

.summary-date {
    text-align: center;
}

.summary-col-headers {
    background-color: #509ed7;
}

.booking-row:nth-child(even) {
    background-color: #eee;
}

.booking-row:nth-child(odd) {
    background-color: #fff;
}

.booking-cell {
    text-overflow: ellipsis;
}

.header-cell {
    box-sizing: border-box;
    height: 20px;
    font-weight: normal;
    cursor: pointer;
    line-height: 20px;
}

.summary-table td {
    box-sizing: border-box;
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
}

.asc::after {
    content: "\25BC";
}

.desc::after {
    content: "\25B2";
}

.summary-header {
    background-color: #5bbaff;
    color: #fff;
    height: 50px;
    line-height: 30px;
    text-align: center;
}

.booking-row {
    text-align: center;
}
