.summary-empty {
    text-align: center;
}

.summary-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
    box-shadow: 1px 1px 3px #a3a3a3;
    table-layout: fixed;
}

.summary-date {
    text-align: center;
}

.booking-paid-toggle {
    cursor: pointer;
}

.summary-col-headers {
    height: 20px;
    background-color: #509ed7;
}

.booking-row:nth-child(even) {
    background-color: #eee;
}

.booking-row:nth-child(odd) {
    background-color: #fff;
}

.booking-cell {
    text-overflow: ellipsis;
}

.header-button {
    width: 40px;
    height: 40px;
    float: right;
    cursor: pointer;
}

.header-button-icon {
    width: 30px;
    height: 30px;
    margin: 5px;
}

.header-button:hover {
    background-color: rgba(255,255,255,0.4)
}

.header-cell {
    box-sizing: border-box;
    height: 20px;
    font-weight: normal;
    font-size: 90%;
    cursor: pointer;
    line-height: 20px;
    padding: 0;
}

.summary-table td {
    box-sizing: border-box;
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
}

.asc::after {
    content: "\25BC";
}

.desc::after {
    content: "\25B2";
}

.summary-header {
    background-color: #5bbaff;
    color: #fff;
    height: 60px;
    line-height: 30px;
    text-align: center;
}

.summary-header-title {
    position: absolute;
    max-width: 80%;
    left: 0;
    right: 0;
    margin: auto;
}

.summary-header-inner {
    text-align: center;
    height: 40px;
    padding: 0;
}

.booking-row {
    text-align: center;
}
